<div class="footer">
  <span class="footer-links">
    <a href="/faq">FAQ</a>
    <a href="/imprint">Impressum</a>
    <a href="/privacy">Privacy Policy</a>
  </span>
  <div class="flex-spacer"></div>
</div>
