<link rel="stylesheet" href="/stylesheets/auth.css" />
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/dashboard.js"></script>       
        <h1>Select a Server to Manage JumpingBot</h1>
        <p id="loading">loading...</p>
        <div id="guilds" class="guilds">
        </div>