<link rel="stylesheet" href="/stylesheets/auth.css" />
<script src="/javascripts/jquery.js"></script>

<h1>Select a Server to Manage JumpingBot</h1>
<p id="loading">loading...</p>
<div id="guilds" class="guilds"></div>

<script>
  $(document).ready(function () {
    $.ajax({
      url: "/dashboard/load/guilds",
      method: "POST",
    }).done((body) => {
      const loadingDoc = $("#loading");
      const guildsDoc = $("#guilds");

      const errors = [];
      if (body.error) {
        errors.push(body.error);
      } else if (body.guilds.length === 0) {
        errors.push("No Guild with User Permission MANAGE_SERVER Found!");
      }

      if (errors.length !== 0) {
        errors.forEach((error) => {
          $("<p/>")
            .addClass("flash-error")
            .text(error)
            .insertBefore(loadingDoc);
        });

        loadingDoc.remove();
        guildsDoc.remove();
      } else {
        loadingDoc.remove();
        const defaultIcon =
          "https://discordapp.com/assets/6debd47ed13483642cf09e832ed0bc1b.png";
        body.guilds.forEach((guild) => {
          const guildImage = $("<img/>")
            .addClass("icon")
            .attr(
              "src",
              guild.icon === null
                ? defaultIcon
                : "https://cdn.discordapp.com/icons/" +
                    guild.id +
                    "/" +
                    guild.icon +
                    "." +
                    (guild.icon.startsWith("a_") ? "gif" : "png") +
                    "?size128"
            );
          const guildName = $("<span/>")
            .addClass("name")
            .text(guild.name + " " + guild.redisValue);
          const guildDiv = $("<div/>")
            .addClass("guild")
            .append(guildImage)
            .append(guildName)
            .appendTo(guildsDoc);

          $.ajax({
            url: "/dashboard/load/guild/" + guild.id,
            method: "POST",
          }).done((guildInfo) => {
            $("<button/>")
              .add("greenButton")
              .text(guildInfo === null ? "Set up JumpingBot" : "Open Dashboard")
              .appendTo(guildDiv);
          });
        });
      }
    });
  });
</script>
