<link rel = 'stylesheet' href = '/stylesheets/auth.css'/>

<h1>Select a Server to Manage JumpingBot</h1>
<p id = "loading">loading...</p>
<div id = "guilds" class = "guilds">

</div>

<script>
  window.fetch('/dashboard/load/guilds', {
    method: "POST"
  }).then(response => {
    response.json().then(body => {
      if (body.error) {
        document.getElementById("loading").textContent = body.error;
        document.getElementById("guilds").remove();
      } else {
        document.getElementById("loading").remove();
        body.guilds.forEach(guild => {
          const guildDiv = document.createElement("div");
          guildDiv.className = 'guild';
          const guildIcon = document.createElement("img");
          guildIcon.className = "icon"
          if (guild.icon === null) {
            guildIcon.src = "https://discordapp.com/assets/6debd47ed13483642cf09e832ed0bc1b.png";
          } else {
            guildIcon.src = "https://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + "." + (guild.icon.startsWith('a_') ? "gif" : "png") + "?size128";
          }

          const guildName = document.createElement("span");
          guildName.className = 'name'
          guildName.appendChild(document.createTextNode(guild.name));

          const guildButton = document.createElement("button");
          guildButton.className = 'greenButton';
          guildButton.appendChild(document.createTextNode('Set up JumpingBot'));

          guildDiv.appendChild(guildIcon);
          guildDiv.appendChild(guildName);
          guildDiv.appendChild(guildButton);
          document.getElementById("guilds").appendChild(guildDiv);
        })
      }
    })
  })
</script>
