      <img
        alt="jumpingbot logo"
        src="/images/logo.png"
        width="20%"
        style="border-radius: 50%; max-width: 200px; user-select: none"
        draggable="false"
        ondragstart="if (!window.__cfRLUnblockHandlers) return false; return false;"
      />
      <h1 class="heading-medium text-bold">JumpingBot</h1>