<link rel = 'stylesheet' href = '/stylesheets/auth.css'/>
<h1>Login to JumpingBot</h1>
<%- include('partials/flash'); %>
<button id = "loginButton" class = "guild greenButton" onclick = "location.href='/login?directLogin=true'">Login via Discord 0Auth2</button>