@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
  --background-0: 12, 13, 18;
  --background-10: 28, 29, 34;
  --background-20: 44, 45, 50;
  --background-30: 60, 61, 66;
  --background-40: 76, 77, 82;

  --foreground-100: #fff;
  --foreground-95: #f5f5f5;
  --foreground-90: #ddd;
  --foreground-80: #bbb;
  --foreground-70: #999;
  --foreground-60: #777;
  --foreground-50: #686868;

  --font-text: "Work Sans", "Loma", "Calibri", "Arial", sans-serif;
  --font-headers: "Rubik", "Segoe UI", "Calibri", "Arial", sans-serif;

  --font-size-tiny: 10px;
  --font-size-small: 13px;
  --font-size-normal: 15px;
  --font-size-big: 18px;
  --font-size-huge: 24px;
  --font-size-mega: 36px;
  --font-size-heading: 50px;

  --font-small: 400 var(--font-size-small) var(--font-text);
  --font-primary: 400 var(--font-size-normal) var(--font-text);
  --font-big: 400 var(--font-size-big) var(--font-text);
  --font-huge: 500 var(--font-size-huge) var(--font-text);

  --font-heading-1: 600 var(--font-size-heading) var(--font-headers);
  --font-heading-2: 600 var(--font-size-mega) var(--font-headers);
  --font-heading-3: 500 var(--font-size-huge) var(--font-headers);
  --font-heading-4: 400 var(--font-size-big) var(--font-headers);
}
